@import '_vars';

.wrapper {margin: 0 auto; max-width: 100%; font-family: 'Times', sans-serif;}

//Mobile first
@media screen and (max-width: 425px) {

    @import 'modules/_navbar.scss';

.products {
    margin: 0;
    padding: 20px;

    hr {
        border-color: $hr;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        font-size: 1.5em;
        text-align: center;
        padding: 5px;
        line-height: 2vh;
    }

    p {
        padding: 10px;
        font-size: 0.8em;
        color: $text;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        line-height: 2vh;
    }

}

    @import 'modules/_footer.scss';
}


//tablet
@media screen and (min-width: 426px) and (max-width: 786px) {

    @import 'modules/_navbar.scss';

.products {
    margin: 0;
    padding: 20px;

    hr {
        border-color: $hr;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }

    h2 {
        font-size: 1.5em;
        text-align: center;
        padding: 5px;
        line-height: 2vh;
    }

    p {
        padding: 10px;
        font-size: 0.8em;
        color: $text;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        line-height: 2vh;
    }

}

    @import 'modules/_footer.scss';
}

//desktop
@media screen and (min-width: 787px) {

@import 'modules/_navbar.scss';

.products {
    margin: 0;
    padding: 25px;

    hr {
       display: none;
    }

    #product1 {
        float: left;
        img {
            width: 650px;
            height: 500px;
            object-position: center;
            object-fit: cover;
        }

        h2 {
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
            line-height: 2vh;
            width: 640px;
        }

        p {
            padding: 20px;
            font-size: 1em;
            color: $text;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            line-height: 2vh;
            width: 630px;
        }
    }

    #product2 {
        float: right;
        img {
            width: 650px;
            height: 500px;
            object-position: center;
            object-fit: cover;
        }

        h2 {
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
            line-height: 2vh;
            width: 640px;
        }

        p {
            padding: 20px;
            font-size: 1em;
            color: $text;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            line-height: 2vh;
            width: 630px;
        }
    }

    #product3 {

        img {
            width: 100%;
            height: 800px;
            object-position: top;
            object-fit: cover;
        }

        h2 {
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
            line-height: 2vh;
        }

        p {
            padding: 20px;
            font-size: 1em;
            color: $text;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            line-height: 2vh;
        }
    }

    #product4 {
        img {
            width: 100%;
            height: 850px;
            object-position: center;
            object-fit: cover;
        }

        h2 {
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
            line-height: 2vh;
        }

        p {
            padding: 20px;
            font-size: 1em;
            color: $text;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            line-height: 2vh;
        }
    }

}

    @import 'modules/_footer.scss';
}