<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favcon.png">
    <title>Camerable</title>
</head>
<body>
    <main class="wapper">
        <header class="header">
        <h1>Camerable</h1>
        </header>

        <section class="products">
            <div id="product1">
            <img src="images/image1.jpg" alt="Leica">
            <h2>Leica</h2>
            <p>Leica Camera AG is an internationally operating, premium-segment manufacturer of cameras and sport optics products.</p>
            </div>

            <hr>

            <div id="product2">
            <img src="images/image2.jpg" alt="Canon">
            <h2>Canon</h2>
            <p>The Canon EOS Camera System is the most complete single-lens reflex (SLR) camera system in the world. Experience how simply changing a lens changes everything.</p>
            </div>

            <hr>

            <div id="product3">
            <img src="images/image3.jpg" alt="Fujifilm">
            <h2>Fujifilm</h2>
            <p>From cutting-edge, mirrorless pro-level models to fashion-conscious point-and-shoot compacts, there's a FUJIFILM digital camera to satisfy every kind of photographer.</p>
            </div>

            <hr>

            <div id="product4">
            <img src="images/image4.jpg" alt="Nikon">
            <h2>Nikon</h2>
            <p>Tiny has never been a bigger deal. Insanely small. Amazingly bold.</p>
            </div>

        </section>

        <footer class="footer">
            <p>© 2019 Camerable - All Rights Reserved</p>
        </footer>        
    </main>
    <script src="js/main.js"></script>
</body>
</html>